body {
    margin: 0;
    font-family: "Georgia", serif;
    background: #fffaf3;
    color: #4a2c2a;
}

/* Header */
.book-header {
    text-align: center;
    background: #7a1f1f;
    color: white;
    padding: 30px 15px;
}

.book-header h1 {
    margin-bottom: 10px;
}

.navbar {
    background: #6B4F1D;
    text-align: center;
    padding: 10px;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}


/* Book Section */
.book-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 50px;
}

/* Book Card */
.book-card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.book-card:hover {
    transform: translateY(-8px);
}

.book-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.book-card h3 {
    margin-top: 15px;
    color: #7a1f1f;
}

.book-card p {
    font-size: 15px;
    line-height: 1.6;
}

/* Book Link Button */
.book-card a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background: #7a1f1f;
    color: white;
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 14px;
}

/* Footer */
.book-footer {
    text-align: center;
    padding: 20px;
    background: #f2e6d8;
    font-size: 14px;
}
