body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #fffaf0;
    color: #5a1a1a;
}

.calendar-header {
        background-color: #7b1b1b;
        color: white;
        padding: 30px;
        text-align: center;
}

.navbar {
    background: #6B4F1D;
    text-align: center;
    padding: 10px;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

darshan-btn {
    display: inline-block;
    background: #7a1f1f;
    color: white;
    padding: 12px 20px;
    border-radius: 25px;
    text-decoration: none;
    margin: 30px auto;
    text-align: center;
}

.calendar-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.calendar-controls button {
    font-size: 22px;
    padding: 6px 12px;
    border: none;
    background: #c68c53;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.calendar-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day-names div {
    background: #f2d8a7;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #e0c097;
}

.day {
    border: 1px solid #e0c097;
    min-height: 90px;
    padding: 8px;
    background: #fff;
}

.empty {
    background: #fdf5e6;
}

/* EVENT */
.event {
    background: #fff1d6;
    border: 2px solid #c68c53;
}

.event span {
    display: block;
    font-size: 0.8rem;
    margin-top: 5px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .day {
        min-height: 70px;
        font-size: 0.8rem;
    }
}
