body {
    font-family: Georgia, serif;
    background-color: #fffaf3;
    color: #3b2f2f;
}

.header {
    background: linear-gradient(to right, #6b0000, #a52a2a);
    color: white;
    padding: 30px;
    text-align: center;
}
.navbar {
    background: #6B4F1D;
    text-align: center;
    padding: 10px;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

darshan-btn {
    display: inline-block;
    background: #7a1f1f;
    color: white;
    padding: 12px 20px;
    border-radius: 25px;
    text-decoration: none;
    margin: 30px auto;
    text-align: center;
}

.section {
    padding: 40px 20%;
}

.timing-box {
    background: white;
    border-left: 5px solid #8b0000;
    padding: 20px;
    margin-bottom: 20px;
}

.timing-box h3 {
    color: #8b0000;
}

.footer {
    background-color: #5c1a1a;
    color: #fff5e1;
    text-align: center;
    padding: 15px;
}
