<!DOCTYPE html>

<html>

<head>

    <title>Admin Login</title>

    <link rel="stylesheet"
    href="{{ url_for(
    'static',
    filename='css/admin/login.css'
    ) }}">

</head>

<body>

<div class="login-container">

    <div class="login-box">

        <h1>
            🛕 Temple Admin Login
        </h1>

        <form method="POST">

            <input
            type="text"
            name="username"
            placeholder="Username"
            required>

            <input
            type="password"
            name="password"
            placeholder="Password"
            required>

            <button type="submit">

                Login

            </button>

        </form>

    </div>

</div>

</body>

</html>